{% extends 'base2.html.twig' %}
{% block h %}

<!-- Stylesheets
============================================= -->
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ asset('Template3/css/bootstrap.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('Template3/style.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('Template3/css/dark.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('Template3/css/font-icons.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('Template3/css/animate.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('Template3/css/magnific-popup.css') }}" type="text/css" />

<link rel="stylesheet" href="{{ asset('Template3/css/responsive.css') }}" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %}



{% block formulaire %}
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">



    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">
                {% for a in v %}

                <div class="postcontent nobottommargin col_last">

                    <div id="posts" class="events small-thumbs">

                        <div class="entry clearfix">
                            <div class="entry-image">
                                <a href="#">
                                    <img src="{{ asset('uploads/'  ~ a.photo) }}" alt="Inventore voluptates velit totam ipsa tenetur">
                                    <div class="entry-date">{{ a.dateDepart|date('d')}}<span>{{ a.dateDepart|date('m')}}</span></div>
                                </a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2> <a href="#">Voyager Vers {{ a.destination }}</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><span class="label label-warning">{{ a.type }}</span></li>
                                    <li><a href="#"><i class="icon-calendar"></i> {{ a.dateDepart|date('Y-m-d')}} - {{ a.dateArrivee|date('Y-m-d')}}</a></li>
                                    <li><a href="#"><i class="icon-dollar"></i> {{ a.prix }}Dnt</a></li>
                                    <li><a href="#"><i class="icon-checkmark"></i> {{ a.categorie }}</a></li>
                                </ul>
                                <div class="entry-content">
                                    <p></p>
                                    {% if (a.idOwner==user)  %}
                                    <a class="btn btn-default">Votre Artcile</a>
                                        {% elseif (a.idOwner!=user)  %}


                                    {% if (a.nbrPlace!=0) %}
                                    <a href="{{ path('_ReserverVoyage', {'idVoyage': a.idVoyage}) }}" class="btn btn-default">Reserver</a>
                                    {% else %}
                                    <a class="btn btn-default" >Sold Out!</a>
                                    {% endif %}
                                    {% endif %}

                                    <a href="{{ path('_AfficheDetailVoyage', {'idVoyage': a.idVoyage}) }}" class="btn btn-danger">Plus de Detail</a>
                                </div>
                            </div>
                        </div>


                    </div>
                    {% endfor %}

                    <!-- Pagination
                    ============================================= -->
                    {# display navigation #}
                    <div class="navigation" align="center">
                        {{ knp_pagination_render(v) }}
                    </div>
                </div>

                <div class="sidebar nobottommargin clearfix">
                    <div class="sidebar-widgets-wrap">

                        <div class="widget clearfix">





                        </div>

                    </div>
                </div>

            </div>

        </div>

    </section><!-- #content end -->






</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
    <script type="text/javascript" src="{{ asset('Template3/js/jquery.js') }}"></script>


    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="{{ asset('Template3/js/functions.js') }}"></script>
{% endblock %}