{% extends "::base2.html.twig" %}
{% block table %}





    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('table2/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('table2/fonts/iconic/css/material-design-iconic-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('table2/vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('table2/vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('table2/vendor/animsition/css/animsition.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('table2/vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('table2/vendor/daterangepicker/daterangepicker.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('table2/vendor/noui/nouislider.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('table2/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('table2/css/main.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{{ asset('Template3/style.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ asset('Template3/demos/travel/css/datepicker.css') }}" type="text/css" />

    <div class="container-contact100">
        <div class="wrap-contact100">
            {{ form_start(form, {'method': 'post', 'action': path('_AjoutVoyageAdmin'), 'attr': {'class': 'ajout','role': 'form'}}) }}

            <form class="">
				<span class="contact100-form-title">
					Ajouter un voyage
				</span>

                <div class="wrap-input100 bg1 rs1-wrap-input100" data-validate="Please Type Your Name">
                    <span class="label-input100">Categorie</span>
                    {{ form_widget(form.categorie,{'attr':{'class': 'form-control input-lg','placeholder':'Categorie'}}) }}
                </div>

                <div class="wrap-input100 bg1 rs1-wrap-input100" data-validate = "Enter Your Email (e@a.x)">
                    <span class="label-input100">Agence Voyage</span>
                    {{ form_widget(form.type,{'attr':{'class': 'form-control input-lg','placeholder':'Agence Voyage'}}) }}
                </div>

                <div class="wrap-input100 bg1 rs1-wrap-input100">
                    <span class="label-input100">Nombre de place</span>
                    {{ form_widget(form.nbrPlace,{'attr':{'class': 'form-control input-lg','placeholder':'Nombre de place'}}) }}
                </div>


                <div class="wrap-input100 bg1 rs1-wrap-input100">
                    <span class="label-input100">Date Depart</span>



                    {{ form_widget(form.dateDepart,{'attr':{'class': 'form-control input-lg'}}) }}


                </div>

                <div class="wrap-input100 bg1 rs1-wrap-input100">
                    <span class="label-input100">Date Arrivée</span>

                    {{ form_widget(form.dateArrivee,{'attr':{'class': 'form-control input-lg'}}) }}
                </div>


                <div class="wrap-input100 bg1 rs1-wrap-input100">
                    <span class="label-input100">Prix</span>
                    {{ form_widget(form.prix,{'attr':{'class': 'form-control input-lg','placeholder':'Prix en DNT'}}) }}
                </div>
                <div class="wrap-input100 bg1 rs1-wrap-input100">
                    <span class="label-input100">Description</span>
                    {{ form_widget(form.description,{'attr':{'class': 'form-control input-lg','placeholder':'Description'}}) }}
                </div>
                <div class="wrap-input100 bg1 rs1-wrap-input100">
                    <span class="label-input100">Destination</span>
                    {{ form_widget(form.destination,{'attr':{'class': 'form-control input-lg','placeholder':'Destination'}}) }}
                </div>

                <div class="wrap-input100 bg1 rs1-wrap-input100">
                    <span class="label-input100">Joindre Une Photo</span>
                    {{ form_row(form.photo,{'attr':{'class': 'form-control input-lg','placeholder':'Photo'}}) }}
                </div>




                <div class="container-contact100-form-btn">

                    {{ form_widget(form.ajouter,{'attr':{'class':'contact100-form-btn'}}) }}
                    {{ form_end(form) }}

                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>

                    </button>
                </div>
            </form>
        </div>

    </div>



    <!--===============================================================================================-->
    <script src="{{ asset('table/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('table2/vendor/animsition/js/animsition.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('table2/vendor/bootstrap/js/popper.js') }}"></script>
    <script src="{{ asset('table2/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('table2/vendor/select2/select2.min.js') }}"></script>
    <script>
        $(".js-select2").each(function(){
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });


            $(".js-select2").each(function(){
                $(this).on('select2:close', function (e){
                    if($(this).val() == "Please chooses") {
                        $('.js-show-service').slideUp();
                    }
                    else {
                        $('.js-show-service').slideUp();
                        $('.js-show-service').slideDown();
                    }
                });
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="{{ asset('table2/vendor/daterangepicker/moment.min.js') }}"></script>
    <script src="{{ asset('table2/vendor/daterangepicker/daterangepicker.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('table2/vendor/countdowntime/countdowntime.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('table2/vendor/noui/nouislider.min.js') }}"></script>
    <script>
        var filterBar = document.getElementById('filter-bar');

        noUiSlider.create(filterBar, {
            start: [ 1500, 3900 ],
            connect: true,
            range: {
                'min': 1500,
                'max': 7500
            }
        });

        var skipValues = [
            document.getElementById('value-lower'),
            document.getElementById('value-upper')
        ];

        filterBar.noUiSlider.on('update', function( values, handle ) {
            skipValues[handle].innerHTML = Math.round(values[handle]);
            $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
            $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
        });
    </script>
    <!--===============================================================================================-->
    <script src="{{ asset('table2/js/main.js') }}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>


    <script>
        $(function () {
            var bindDatePicker = function() {
                $(".date").datetimepicker({
                    format:'YYYY-MM-DD',
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    }
                }).find('input:first').on("blur",function () {
                    // check if the date is correct. We can accept dd-mm-yyyy and yyyy-mm-dd.
                    // update the format if it's yyyy-mm-dd
                    var date = parseDate($(this).val());

                    if (! isValidDate(date)) {
                        //create date based on momentjs (we have that)
                        date = moment().format('YYYY-MM-DD');
                    }

                    $(this).val(date);
                });
            }

            var isValidDate = function(value, format) {
                format = format || false;
                // lets parse the date to the best of our knowledge
                if (format) {
                    value = parseDate(value);
                }

                var timestamp = Date.parse(value);

                return isNaN(timestamp) == false;
            }

            var parseDate = function(value) {
                var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
                if (m)
                    value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);

                return value;
            }

            bindDatePicker();
        });

    </script>


    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>

{% endblock %}